/* 
    General Styles
*/
h2{
    color: red;
}
.scroll-container{
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: black white;
}
.iconoMeGusta{
    font-size: 1.7rem;
}
.card{
    width: 18rem;
    margin-right: 2rem;
}
.imagenDetalles{
    width: 100%;
}